<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="cn.py.springframework.beans.UserDao"/>

    <bean id="userService" class="cn.py.springframework.beans.UserService">
        <property name="uId" value="10001"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>